.about_origami {
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    border-bottom: solid;
    border-top: solid;
}

.card {
    margin-top: 50px;
    margin-left: 30px;
}


